<!DOCTYPE html>
<html>
  <head>
    <title>Cryto currency portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- insert nav bar here this will be displayed across all webpages(keep in mind this has to be above the yield section) -->
    <%= render 'home/navbar'  %>



    <%= yield %>
  </body>
</html>
